
{% extends 'emp_base.html' %}

{% block main %}
<div class="card shadow m-5">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid purple">Leave Request Form</h5>
        <div class="container-fluid">
            <form method="post" action="{% url 'leave_request' %}" name="leaveRequestForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="empid">Employee ID</label>
                    <input type="text" name="empid" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="startdate">Start Date</label>
                    <input type="date" name="startdate" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="enddate">End Date</label>
                    <input type="date" name="enddate" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="reason">Reason</label>
                    <input type="text" name="reason" class="form-control" placeholder="Enter your reason" required>
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
            {% if error == "no" %}
                <script>
                    alert('Request Successfully Submitted');
                    window.location = ('{% url 'leave_request' %}');
                </script>
            {% endif %}
            {% if error == "yes" %}
                <script>
                    alert('Something went wrong, Try Again...');
                </script>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
